GEMINI_API_KEY= # get from https://aistudio.google.com/app/apikey
GEMINI_API_MODEL_NAME=gemini-2.5-flash-preview-04-17

OLLAMA_EMBEDDINGS_MODEL_NAME=mxbai-embed-large
OLLAMA_EMBEDDING_MODEL_URL=http://localhost:11434/api/embedding

PG_VANNA_VECTOR_DB_CONNECTION_STRING=postgresql://user:password@localhost:5432/dbname
PG_VANNA_VECTOR_TABLE_NAME=vanna_vector_data
PG_VANNA_VECTOR_DIMENSIONS=512

TARGET_TEXT2SQL_PG_DATABASE=dbname2
TARGET_TEXT2SQL_PG_HOST=localhost
TARGET_TEXT2SQL_PG_PASSWORD=password2
TARGET_TEXT2SQL_PG_PORT=5434
TARGET_TEXT2SQL_PG_USER=user

# ; App-specific
PG_VANNA_MODEL_TEMPERATURE=0.7
MUSIC_AGENT_MODEL_TEMPERATURE=1.0